$background-color: transparent;

//Tipos de pokemones
$electric: rgb(252, 247, 222);
$water: rgb(222, 243, 253);;
$fire: rgb(248, 213, 163);
$grass: rgb(222, 253, 224);
$ground: rgb(244, 231, 218);
$fairy: rgb(252, 234, 255);
$normal: rgb(220, 220, 194);
$fighting: rgb(220, 134, 123);
$flying: rgb(179, 204, 230);
$poison: rgb(200, 174, 199);
$psychic: rgb(243, 141, 207);
$bug: rgb(216, 223, 152);
$rock: rgb(202, 181, 61);
$ghost: rgb(145, 121, 198);
$steel: rgb(193, 193, 214);
$ice: rgb(189, 228, 255);
$dragon: rgb(139, 107, 216);
$dark: rgb(125, 105, 92);