*::-webkit-scrollbar {
    -webkit-appearance: none;
}

*::-webkit-scrollbar:vertical {
    width:10px;
    display: none;
}

*::-webkit-scrollbar-button:increment,*::-webkit-scrollbar-button {
    display: none;
} 

*::-webkit-scrollbar:horizontal {
    height: 10px;
}

*::-webkit-scrollbar-thumb {
    background-color: rgb(168, 176, 159);
    border-radius: 20px;
    border: 2px solid rgb(168, 176, 159);
}

*::-webkit-scrollbar-track {
    border-radius: 10px;
}